# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

*.local
.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Streaming server files
server/.env
media/
server/media/

# HLS segments and playlists
*.ts
*.m3u8

# documentacion 
docs/*
TROUBLESHOOTING.md

# pruebas con la conexion con el obs locales
media/*
server/*
